    /*
The CSS code gets to executed from top to bottom and left ro right

*/
    /* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

    @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
    @import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
        box-sizing: border-box;
        /*reset Chrome user agent styles*/
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-before: 0px;
        -webkit-padding-after: 0px;
        -webkit-padding-start: 0px;
        -webkit-padding-end: 0px;
    }
    /* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

    body {}

    h2 {
        margin-top: 1.1rem;
    }
    /* Header styles
(all the styles inside the < header > or < nav > tags)
*/

    header {
        height: 5rem;
        background-color: white;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.5rem;
        font-family: 'Pacifico', cursive;
        color: #f97252;
    }

    #header-content {
        margin-top: 2rem;
    }
    /* Content styles
(all the styles inside the < sections > or < aside > tags)*/

    section {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-family: 'Yantramanav', sans-serif;
    }

    #summary-stats {
        background-color: #e5e5e5;
    }

    #stat-1,
    #stat-2,
    #stat-3 {
        background-color: #8cc3ea;
        margin-left: 2rem;
        width: 8rem;
        height: 8rem;
        color: white;
        font-size: 1rem;
        font-weight: 400;
        display: inline-block;
    }

    #stat-1-data,
    #stat-2-data,
    #stat-3-data {
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    /* Footer styles
(all the styles inside the < footer > tag)
*/
    /* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
